body {
    background-color:#a1c0ca;
    background-image: linear-gradient(#a1c0ca, #a7cea8);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    overflow:hidden;
}

h1 {
    color:#123541;
    font-size:50px;
}

p {
    color:#123541;
    font-size:30px;
}

a:link {
    color:#395b22;
}

a:visited {
    color:#233e11;
}

