* {
    box-sizing:border-box;
}

img {
    max-width:100%;
}

body {
    background:#232341;
    color:aliceblue;
}

.container {
    background:blue;
    display:flex;
    height:50vh;
    flex-direction:column;
}

.ticket {
    background:gray;
    display:flex;
    height:100vh;
    overflow:auto;
    justify-content:center;
    align-items:center;
}